.thumb {
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: fit-content;
  margin-bottom: 20px;
}

.dispatchedMessage {
  align-self: flex-end;
}
