.list {
  margin-top: 24px;
}

.item {
  position: relative;

  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee3e3;
  cursor: pointer;
}

.item > p {
  margin-left: 24px;
}

@media screen and (max-width: 715px) {
  .list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 715px) {
  .item {
    display: flex;
    align-items: center;
  }
}
