.list {
  margin-top: 24px;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee3e3;
  cursor: pointer;
}

.item > p {
  margin-left: 24px;
}
