.message {
  width: 150px;
  font-size: 12px;
  color: #607d7d;
}
.date {
  position: absolute;
  top: 14%;
  right: 5%;
}

@media screen and (max-width: 715px) {
  .date {
    font-size: 10px;
    width: 50px;
  }
}
